footer.footer
    .footer__container.l-container
        .footer__grid
            .footer__item
                h4.footer__title Dont Be Shy Talk To Us
                p.footer__description Karyawan Kami Sebenarnya Malas Jawab Email Kelen tapi mau gimana lagi kan ya… tuntutan pekerjaan ya udah segitu aja curhatnya hiks
                .footer__bot
                    .footer__botItem
                        a(class="footer__buttom" href="#") Contact Us
            .footer__item
                .footer__bot
                    .footer__botItem
                        a(class="footer__buttomCir", href="#"): img(class="footer__image", src="/assets/images/buttom.png", alt="Buttom")
                        a(class="footer__buttomCir", href="#"): img(class="footer__image", src="/assets/images/buttom.png", alt="Buttom")
                        a(class="footer__buttomCir", href="#"): img(class="footer__image", src="/assets/images/buttom.png", alt="Buttom")
                        a(class="footer__buttomCir", href="#"): img(class="footer__image", src="/assets/images/buttom.png", alt="Buttom")               
                h4.footer__subtitle Address
                span.footer__address PKF Texas 5847 San Felipe,  
                span.footer__address Luxury Royale Suite 2600 Houston, 
                span.footer__address Texas 77057   
                span.footer__address 713.860.1400  
                span.footer__address 713.355.3909
