header.header
  .header__container.l-container
    a(class="logo", href="/"): img(class="logo__image", src="/assets/images/logo.svg", alt="TravelAgency Logo")
    .hamburger#hamburger
    nav.nav#menu
      ul.menu
        li.menu__item
          a(class="menu__link", href="/") Home
        li.menu__item
          a(class="menu__link", href="#") About
        li.menu__item
          a(class="menu__link", href="#") Package
        li.menu__item
          a(class="menu__link", href="#") Trip
        li.menu__item
          a(class="menu__link", href="#") Testimony
        li.menu__item
          a(class="menu__link", href="#") Blog