/* ********** Heebo Font ********** */

@font-face {
  font-family: 'Heebo Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Heebo Regular'), url('/assets/fonts/Heebo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Light';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Heebo Light'), url('/assets/fonts/Heebo-Light.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Thin';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Heebo Thin'), url('/assets/fonts/Heebo-Thin.woff') format('woff');
}

// PT Serif Font 

@font-face {
  font-family: 'PTSerif Italic';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('PTSerif Italic'), url('/assets/fonts/PTSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'PTSerif Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('PTSerif Regular'), url('/assets/fonts/PTSerif-Regular.woff') format('woff');
}


