/* ********** Custom Properties ********** */
:root {
  --primary-font:     'Heebo Regular';
  --primary-font-thin:     'Heebo Thin';
  --primary-font-light:     'Heebo Light';
  --primary-font-black:     'Heebo Black';
  --secondary-font:   'PTSerif Regular';
  --secondary-font-italic: 'PTSerif Italic';
  --font-size: 16px;
  --line-height: 1.6;

  --primary-color:    #EE2655;
  --secondary-color:  #F7F7F7;
  --tertiary-color:   #000;
  --quaternary-color: #ffffff;

  --text-color-black: var(--tertiary-color);
  --text-color-white: var(--quaternary-color);

  --z-index-down:   25;
  --z-index-middle: 50;
  --z-index-up:     75;
  --z-index-above:  100;
}

/* ********** Breakpoints ********** */
$breakpoints: (
  xs: 30em, /* 480 / 16  */
  s:  37.5em, /* 600 / 16  */
  m:  45em, /* 720 / 16 */
  l:  64em, /* 1024 / 16 */
  xl: 75em /* 1200/ 16 */
);
